/***** NAVBAR *****/
body {
  margin-top: 60px;
}
.offcanvas {
  background-color: #343a40; /* Change this color to match your bg-dark color */
}
.offcanvas-body .nav-link {
  color: white; 
}
.offcanvas-body .nav-link:hover {
  color: #DC4C64;
}
.navbar-toggler {
  color: black;
  background-color: white;
}
.navbar-toggler:hover 
{
  background-color: #DC4C64;
  color: white;
}

/***** Footer *****/
footer{
  background-color:#343a40;
}
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 3em;
  color: black;
  opacity: 0.9;
}

.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: black;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul
  {flex-direction:column;
  justify-content: center; 
  padding: 0;}

  .footerNav ul 
  {justify-content: center;}

  }
  .footerNav ul li{
    width: 100%;
    text-align: center;
    margin: 10px 0;
    justify-content: center;
  }

/***** End Footer *****/

<meta http-equiv='cache-control' content='no-cache'> 
<meta http-equiv='expires' content='0'> 
<meta http-equiv='pragma' content='no-cache'>
