/***** NAVBAR *****/
body {
  margin-top: 60px;
}
.offcanvas {
  background-color: #343a40; /* Change this color to match your bg-dark color */
}
.offcanvas-body .nav-link {
  color: white; 
  font-size: large;
}
.offcanvas-body .nav-link:hover {
  color: #DC4C64;
}
.navbar-toggler {
  color: black;
  background-color: white;
}
.navbar-toggler:hover 
{
  background-color: #DC4C64;
  color: white;
}
